
@{
    ViewData["Title"] = "EditTask";
}
@model Tasks
<h1>Edit Task</h1>

<form action="../Tasks/EditTask" method="post">
    <input type="hidden" name="Id" value="@Model.Id" />
   Task Description: <input type="text" name="TaskDescription" value="@Model.TaskDescription" />
    Date due: <input type="date" name="DueDate" value="@Model.DueDate" required/>
    Completed: <input type="checkbox" name="Completed" value="true" />
    Not Completed: <input type="checkbox" name="Completed" value="false" />
               

<input type="submit"  value="Edit Task" />
</form>