
@{
    ViewData["Title"] = "Error";
}


<div class="text-left">

    <h1>We don't accept blanks around here! <a href="../Tasks/Index" class="btn alert-danger">Back</a></h1>
   
</div>

<div>
    <img src="~/css/grumpycat.jpg" />"
</div>


