
@{
    ViewData["Title"] = "Index";
}

@model List<Tasks>

<h1>List of Tasks</h1>



    <a href="../Tasks/AddTask" class="btn btn-dark">Add Task</a>

    <a href="../Tasks/SortTask" class="btn btn-dark">Sort Task</a>

    <a href="../Tasks/FindTask" class="btn btn-dark">Search for a Task</a>

<table class="table col-md-9">
    <tr>
        <th>Task Description</th>
        <th>Due Date</th>
        <th>Completed?</th>
    </tr>
    @foreach (Tasks task in Model)
    {
        <tr>
            <td> @task.TaskDescription</td>
            <td> @task.DueDate.ToString("yyyy-MM-dd")</td>
            <td>
                @{
                    if (task.Completed)
                    {
                        <p>Yes</p>
                    }
                    else
                    {
                        <p>No</p>
                    }
                }
            </td>
            <td><a href="../Tasks/EditTask?id=@task.Id">Edit Task</a></td>
            <td><a href="../Tasks/DeleteTask?id=@task.Id">Delete Task</a></td>
        </tr>


    }


</table>




