
@{
    ViewData["Title"] = "SortTask";
}

<h1>Sort Task</h1>

<form action="../Tasks/SortTask" method="post">
   Sort by due date <input type="radio" name="selection" value="1" />
   Sort by Completion status<input type="radio" name="selection" value="2" />
                            <input type="submit"  value="submit" />
</form>

